{% extends 'base.html' %}
{% load static %}
{% block title_content %} Perfil do colaborador {% for perf  in colaborador %}
{{perf.nome}}
{% endfor %}
{% endblock %}

{% block content %}
<div class="card card-solid">
    <div class="card-header">
         <button class="btn bg-teal">Gerar Relatório <i class="far fa-file-alt"></i> </button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <img src="{% static 'images/businessman .png' %}" alt="" class="img-circle img-fluid">
            </div>
            <div class="col">
                {% for perf in colaborador %}
                  <p>{{perf.nome}}</p>
                <span>Nascido em {{perf.nascimento}}</span>
                <span> RG: {{perf.rg}}</span>
                <span> CPF:{{perf.cpf}}</span>
                <p> Telefone:{{perf.telefone}}</p>
                <p>Tipo CNH: {{perf.cnh_tipo}}</p>
                {% if perf.cnh_tipo != 'Não Possui' %}<span>Num.CNH {{perf.cnh}}</span>{% endif %}
                <p>Sexo {{perf.sexo_choices}}</p>
                <p> Função: {{perf.funcao}}</p>
                <span> Departamento: s{{perf.departamento}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <h2>Formações</h2>
        </div>
        <div class="row">
            <div class="col">
                <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Tipo de Formação</th>
                  <th>Nome do Curso</th>
                  <th>Instituição</th>
                  <th>Data de Início</th>
                  <th>Data de Término</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for forma in formacao %}
                <tr>
                  <td>{{forma.tipo_formacao}}</td>
                  <td>{{forma.nome_curso}}</td>
                  <td>{{forma.instituicao}}</td>
                  <td>{{forma.dt_inicio}}</td>
                  <td>{{forma.dt_termino}}</td>
                  <td>
                      <div class="dropleft">
                          <a class="btn bg-teal dropdown-toggle" href="#" role="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-pencil-alt"></i>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdown">
                              <a class="dropdown-item text-danger" href="{% url 'formacaoDelete' pk=forma.id %}" >Deletar</a>
                              <a class="dropdown-item text-teal" href="#">Editar</a>
                          </div>
                      </div>
                  </td>
                </tr>
                {% endfor%}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}